# WARNING: THIS FILE IS MANAGED BY CHEZMOI

[core]
	editor = vim
[user]
	email = {{ .email }}
	name = {{ .name }}
[diff]
	tool = difftastic
[difftool]
	prompt = False
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[pager]
	difftool = true
[mergetool]
	prompt = False
[init]
	defaultBranch = main
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	make-it-personal = !git config --local user.email \"{{ .github_email }}\" && git config --local user.name \"{{ .github_name }}\"
	last = log -1
	l = log -1
	h = !git log --graph --pretty=format:'%C(bold)%h%Creset%C(magenta)%d%Creset %s %C(yellow)<%an> %C(cyan)(%cr)%Creset' --abbrev-commit --date=relative --color=always|head -n1
	aliases = config --get-regexp '^alias\\.'
	site = !explorer.exe $(echo `git config remote.origin.url` | sed 's,ssh://git@gitlab.bluestaq.com:2222,https://gitlab.bluestaq.com,' | sed 's,.git$,,') > /dev/null 2>&1
	undo = reset HEAD~1
	ignore = "!gi() { curl -sL https://www.toptal.com/developers/gitignore/api/$@ ;}; gi"
	dft = difftool
	dlog = "-c diff.external=difft log -p --ext-diff"
[pull]
	rebase = true
[credential]
	helper = cache
{{- if eq .config "work-laptop"}}
[includeIf "gitdir:~/code/personal/"]
	path = ~/code/personal/.gitconfig
{{ end }}
