#!/usr/bin/env bash
set -euo pipefail

{{- if eq .config "work-laptop" }}

[ -f "{{ .personal_code_dir }}/.gitconfig" ] && exit 0

mkdir -p "{{ .personal_code_dir }}"

cat <<END > "{{ .personal_code_dir }}/.gitconfig"
[user]
	email = {{ .github_email }}
	name = {{ .github_name }}
END
{{ end }}
